###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
* n-encoding=utf-8
